<header id="main-header">
  <div id="logo">
    <a href="/">TDT</a>
  </div>
  <nav>
    <ul>
      <li>
        <!-- <a href="/posts">All Medicine</a> -->
      </li>
      <li>
        <a href="/search">Search</a>
      </li>
      <li>
        <a href="/new-post">Add Medicine</a>
      </li>
    </ul>
  </nav>
</header>