<article class="post-item">
    <h2><%= post.name%></h2>
    
    <div class="post-actions">
      <!-- <button class="btn btn-alt">Delete Post</button> -->
      <!-- <a href="...">Edit Post</a> -->
      <a class="btn" href="/<%=post.name%>/">View Post</a>
    </div>
  </article>